@font-face {
    font-family: livvic-regular;
    src: url("../assets/fonts/Livvic/Livvic-Regular.ttf");
}

@font-face {
    font-family: livvic-semi-bold;
    src: url("../assets/fonts/Livvic/Livvic-SemiBold.ttf");
}

@font-face {
    font-family: livvic-bold;
    src: url("../assets/fonts/Livvic/Livvic-Bold.ttf");
}