
// COLOR PALETTE
//SITE
$bg: #014e56;
$bgLight: #79c8c7;
$bgMiddle: #004047;;
$bgDark: #012f34;
$white: #ffffff;
$grey: #ccd5d6;
$red: #f67e7e;


// LAYOUT BREAKPOINTS
$break-mobile: 540px;
$break-narrow: 740px;
$break-normal: 985px;
$break-wide: 1300px;


